#sidebar {
  width: 22rem;
  /* background-color: #f7f7f7; */
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
}
#detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
}
.autocomplete {
  width: 183.2px;
  height: 37.6px;
  overflow: hidden;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
}
.auto {
  margin: 50px;
}
.cardcon {
  margin: 10px;
}
