.plus{
    // background:'blue',
    color: "black !important",
    width: "30px",
    height: "30px",
    borderRadius: "50%",
    display: "flex",
    justifyContent: "center",
    alignItems: "center",
  };

 .plus_button  {
    background: "transparent",
    padding: "0",
  };

.tableStyle  {
    border: "none !important",
    // padding:'20px',
  };
.icons_cell {
    width: "50px",
  };
  .input_width  {
    width: "100%",
  };
